.movie-list {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal-width columns */
    gap: 20px;
}

.movie-card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    user-select: none;
    /* cursor: pointer; */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    transition: .1s linear all;
}

.movie-card:hover{
    transform: scale(1.02);
}

/* .movie-list .movie-card {
    grid-column-start: 1;
    grid-column-end: 2;
} */

@media(max-width:992px) {
    .movie-list {
        display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
    gap: 20px;
    }
}

@media(max-width:768px) {
    .movie-list {
        display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 20px;
    }
}

@media(max-width:476px) {
    .movie-list {
        grid-template-columns: 1fr;
    }
}

.movie-header{
    width: 100%;
    /* margin-top: 40px; */
    user-select: none;
}

.movie-head{
    margin-top: 20px;
}

.movie-head h3{
    font-family: var(--font-family);
    font-size: var(--large-font-size);
    color: var(--gray);
}

.movie-header h3{
    font-family: var(--font-family);
    font-size: var(--large-font-size);
    color: var(--gray);
}

.movie-image {
    width: 100%;
    height: 280px;
    background-color: green;
}

.movie-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-title{
    width: 100%;
    /* height: 100px; */
    /* background-color: rgb(0, 225, 255); */
    margin-top: 10px;
    text-align: center;
}

.movie-title h3{
    font-family: var(--font-family);
    color: var(--gray);
    font-size: 16px;
}

.movie-button{
    width: 100%;
    margin-top: 10px;
    background-color: green;
}

.movie-button a{
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: 1px solid var(--gray);
    background: var(--main-color);
    color: var(--white);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}
