nav {
    width: 100%;
    background: var(--main-color);
}

.nav-content {
    width: 100%;
    height: 70px;
    display: flex;
}

.nav-content-0{
    width: 60px;
    height: 100%;
    /* background-color: green; */
    display: none;
    align-items: center;
}

.menu-icon{
    width: 30px;
    height: 25px;
    /* background-color: rgb(0, 23, 128); */
    position: relative;
    cursor: pointer;
}

.menu-icon-line{
    width: 100%;
    height: 3px;
    background: var(--white);
    position: absolute;
    transition: all 1s ease;
}

.menu-icon-line:nth-child(1){
    top: 0;
}

.menu-icon-line:nth-child(2){
    top: calc(50% - 1.5px);
}

.menu-icon-line:nth-child(3){
    bottom: 0;
}

.menu-icon.active .menu-icon-line:nth-child(1){
    top: calc(50% - 1.5px);
    transform: rotate(140deg);
}

.menu-icon.active .menu-icon-line:nth-child(2){
    transform:rotateY(100deg)
}
.menu-icon.active .menu-icon-line:nth-child(3){
    bottom: calc(50% - 1.5px);
    transform: rotate(-140deg);
}


/* navigation content 1 */

.nav-content-1 {
    width: calc(200px);
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-content-1 h3 {
    font-family: var(--font-family);
    color: var(--white);
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}

/* navigation content 2 */

.nav-content-2 {
    width: calc(100% - 200px);
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-content-2 ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-content-2 ul li:last-child {
    margin-right: 0;
}

.nav-content-2 a {
    font-family: var(--font-family);
    list-style: none;
    font-weight: 600;
    color: var(--white);
    font-size: 14px;
}

.nav-content-2 a::before,
.nav-content-2 a::after {
    content: '';
    position: absolute;
    bottom: -25px;
    width: 0;
    height: 3px;
    background-color: var(--white);
    transition: width 0.3s ease-in-out;
}

.nav-content-2 a::before {
    right: 50%;
}

.nav-content-2 a::after {
    left: 50%;
}

.nav-content-2 a:hover::before,
.nav-content-2 a:hover::after {
    width: 50%;
}

.nav-content-2-dsignup{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 20px 0 60px;
    position: relative;
}

.nav-content-2-dprofile{
    width: 40px;
    height: 40px;
    /* background-color: green; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 20px 0 60px;
    /* display: none; */
}

.nav-content-2-dprofile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.nav-content-2-dbutton{
    width: 120px;
    height: 30px;
    background: var(--white);
}

.nav-content-2-dbutton:hover{
    border: 1px solid var(--gray);
}

.nav-content-2-dbutton a{
    color: var(--gray);
}

/* navigation content 3 */

.nav-content-3{
    width: 150px;
    height: 100%;
    /* background-color: red; */
    display: none;
    align-items: center;
    justify-content: right;
}

.nav-content-3 img{
    width: 30px;
}

.nav-content-3 button{
    width: 80px;
    height: 30px;
    margin-left: 10px;
}

@media(max-width: 992px){

    .nav-content-0{
        display: flex;
    }

    .nav-content-1{
        width: calc(100% - 140px);
    }

    .nav-content-1 h3{
        font-size: 25px;
    }

    .nav-content-2{
        display: none;
    }

    .nav-content-3{
        display: flex;
    }
}

@media(max-width: 576px){
    .nav-content-1 h3{
        font-size: 20px;
    }
}